*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    

}
html,body{
    width: 100%;
    height: 100%;
    

}
#page{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
#page>#elem1>h1{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: black;
    text-transform: uppercase;
    overflow: hidden;

}
#elem1{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    height: 50%;
    text-align: center;
    width: 80%;
    animation-name: first;
    animation-duration: 4s;
}
@keyframes  first {
    0%{
        left: 0%;
        rotate: 0deg;
    }

    100%{
        top: 50%;
        left: 50%;
        rotate: 90deg;
    }
}
#page>img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
#page1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
#page1>#left{
    position: relative;
    height: 100%;
    width: 50%;
    overflow: hidden;
    background-color:black;


}
#page1>#left>.img{
    position: relative;
    top: 10%;
    width: 80%;
    height: 95%;
    margin: auto;


}
#page1>#left>.img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
    margin: auto;
}
#page1>#left>.img img:hover{
    transform: scale(1.5);
}


#page1>#right{
    position: relative;
    left: 50%;
    bottom: 100%;
    height: 100%;
    width: 50%;
    background-color:wheat;
    overflow: hidden;

}
#page1>#right>.img{
    position: relative;
    top: 10%;
    width: 85%;
    height: 85%;
    margin: auto;


}
#page1>#right>.img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
    margin: auto;
}
#page1>#right>.img img:hover{
    transform: scale(1.5);
}
#page2{
    height: 170%;
    width: 100%;
    background-color: white;
    
}
#page2>h1{
    position: relative;
    top: 10%;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#page2>#img{
    position: relative;
    top: 12%;
    left: 32%;
    height: 35%;
    width: 35%;
    background-image: url(https://m.media-amazon.com/images/I/61M1WuTUcUL._SX679_.jpg);
    background-size: cover;
    background-position: center;
}
#page3{
    position: relative;
    bottom: 77%;
    height: 100%;
    width: 100%;

}
#page3>video{
    position: relative;
    height: 95%;
    width: 100%;

}

#page4{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    bottom: 60%;
}
#page4part1{
    height: 100%;
    width: 50%;
    background-color:none;
}
#page4part1 #w{
    position: absolute;
    width: 500px;
    height: 550px;
    margin-top: 5%;
    margin-left: 5%; 
    opacity: 1; 
}
#page4part1 #b{
    position: absolute;
    width: 500px;
    height: 550px;
    margin-top: 1%;
    margin-left: 5%; 
    opacity: 0; 
}
#page4part1:hover #w{
    opacity: 0;
}
#page4part1:hover #b{
    opacity: 1;
}
#page4part2{
    height: 100%;
    width: 50%;
    background-color:none;
    position: relative;
}
#page4part2 #a{
    height: 300px;
    width: 300px;
    margin-left: 10%;
    margin-bottom: -50%; 

}
#page4part2 #b{
    height: 300px;
    width: 300px;
    margin-left: 10%; 
    margin-bottom: -50%;

}
#page4part2 #c{
    height: 300px;
    width: 300px;
    margin-top: 10%;
    position: absolute;
    margin-left: -47%; 
    opacity: 0;
}
#page4part2 #d{
    height: 300px;
    width: 300px;
    margin-top: 10%;
    position: absolute;
    margin-left: -97%;
    opacity: 0;
}
#page4part2:hover #a{
     opacity: 0;
}
#page4part2:hover #b{
    opacity: 0;
}
#page4part2:hover #c{
    opacity: 1;
}
#page4part2:hover #d{
    opacity: 1;
}
#page5{
    height: 60%;
    width: 100%;
    position: relative;
    bottom: 70%;
}
#scroller{
    height: 40%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  #scroller::-webkit-scrollbar{
      display: none;
  }
  #container{
      height: 100%;
      width: 100%;
      display:inline-block;
      padding: 22px;
      animation-name: hey;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  #scroller>#container>.elem{
      height: 160px;
      width: 150px;
      display: inline-block;
      margin-right: 25px;
  }
  #scroller>#container>.elem img{
      width: 80%;
      height: 80%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      border: 3px solid black;

      margin-left: 15px;
  }
  
  @keyframes hey {
      0%{
          transform: translate(0);
      }
      100%{
            transform: translate(-100%);
      }
  }
  #page6{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    bottom: 75%;
  }
  #bottom{
    height: 100%;
    width: 100%;    
    position: relative;
}
.elem{
    margin: 42px;
    height: 250px;
    width: 250px;
    /* background-color: red; */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all ease-in 2s;
    display: inline-block;
}

.elem img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.elem #box1{
    height: 80px;
    width: 100%;
    background:linear-gradient(transparent,rgb(18, 9, 9));
    position: absolute;
    bottom: -50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    object-fit: cover;
}

#box1 h1{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    padding-left: 20px;
}

#box1 i{
    color: white;
    padding-right: 30px;
}
.elem:hover #box1{
    bottom: 0%;
}

.elem video{
    height: 250px;
    width: 250px;
    object-fit: cover;
}
#page7{
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 40%;
    /* background-color: blue; */

}
#page7>#mid6{
    height: 92%;
    width: 50%;
    padding-top: 10%;
    background-image: url(https://www.apple.com/v/home/az/images/promos/ipad/promo_ipad__fioegapg12qi_medium.jpg);
    background-size: cover;
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}

#mid6 h5{
    color: black;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#mid6 h6{
    color: black;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-weight: 300;
}

#mid6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding-bottom: 28%;
}

#mid6 a{
    color: royalblue;
    text-decoration: none;
    font-size: 23px;
}

#mid7{
    height: 92%;
    width: 48%;
    padding-top: 10%;
    background-image: url(https://www.apple.com/v/home/az/images/promos/macbook-pro-14-and-16/promo_mbp__ek7p477bkp6q_medium.jpg);
    background-size: cover;
    position: relative;
    bottom: 42%;
    left: 52%;
    transform: translate(0%,-50%);
}

#mid7 h5{
    color: white;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#mid7 h6{
    color: white;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-weight: 100;
}

#mid7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding-bottom: 28%;
}

#mid7 a{
    color: royalblue;
    text-decoration: none;
    font-size: 23px;
}
#page8{
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 40%;
    /* background-color: blue; */

}
#page8>#mid1{
    height: 60%;
    width: 40%;
    /* padding-top: 10%; */
    background-image: url(https://ceoworld.biz/wp-content/uploads/2021/11/Tim-Cook.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 50%;
    left: 5%;
    transform: translate(0%,-50%);
}

#mid1 h5{
    color: black;
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 38px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#mid1 h6{
    color: red;
    position: absolute;
    top: 116%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-weight: bold;
}



#mid1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding-bottom: 28%;
}


#mid2{
    /* height: 7%; */
    width: 40%;
    /* top: -29%; */
    background-image: url(https://images.techhive.com/images/article/2015/11/satya_slide-100628447-large.jpg?auto=webp&quality=85,70);
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 10%;
    left: 56%;
    transform: translate(0%,-50%);
}

#mid2 h5{
    color: black;
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 38px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#mid2 h6{
    color: red;
    position: absolute;
    top: 116%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-weight: bold;
}

#mid2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding-bottom: 28%;
}
#page9{
    height: 80%;
    width: 100%;
    position: relative;
    bottom: 35%;
}
#page9>#boxx1{
    position: relative;
    height: 100%;
    width: 32%;
    background-image: url(https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFjYm9vayUyMHByb3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#page9>#boxx1:hover #bx1 {
    opacity: 1;
    cursor: pointer;
}
#page9>#boxx1>#bx1{
    background-image: url(https://i.guim.co.uk/img/media/d104826796b7bd5152f320b727deb5d20a69f188/469_374_5563_3338/master/5563.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=444f5abe152939d1e224f6d50d979ac8);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity:0; 
    border-radius: 10px;

}
#page9>#boxx2{
    position: relative;
    height: 100%;
    left: 34%;
    bottom: 100%;
    width: 32%;
    background-image: url(https://img2.exportersindia.com/product_images/bc-full/2021/6/3876295/apple-laptop-1623471866-5855793.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;


}
#page9>#boxx2:hover #bx2 {
    opacity: 1;
    cursor: pointer;
}
#page9>#boxx2>#bx2{
    background-image: url(https://helios-i.mashable.com/imagery/reviews/05b68fuxakHZTuCxVIQVNlO/hero-image.fill.size_1200x1200.v1623373616.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity:0; 
    border-radius: 10px;

}
#page9>#boxx3{
    position: relative;
    left: 68%;
    bottom: 200%;
    height: 100%;
    width: 32%;
    background-image: url(https://www.ebuyer.com/blog/wp-content/uploads/2020/10/shutterstock_1273487662.jpg);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}
#page9>#boxx3:hover #bx3 {
    opacity: 1;
    cursor: pointer;
}
#page9>#boxx3>#bx3{
    background-image: url(https://cdn.mos.cms.futurecdn.net/TN4tV4BBbcy84qwLGaZUUK.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity:0; 
    border-radius: 10px;
}